#wrapper {
    width:100%;
}

#calculator {
    border: 4 royalblue;
    background-color: gray;
    margin-left: 30%;
    margin-right: 30%;
    width: auto;
    height: auto;
    margin-top: 20vh;
}

#formula, #display {
    background-color: black;
    color: white;
    text-align: end;
    font-size: large;
    height: 2.5rem;
}

#formula {
    color: blueviolet;
}


.key {
    text-align: center;
    font-size: xx-large;
    background-color: #999999;
}